.container
  padding-top: 50px
  display: none

  h1, h2
    text-transform: uppercase
    font-family: Helvetica, Arial, sans-serif

  h1
    line-height: 60px
    color: black
    margin-bottom: 1em
    font:
      size: 60px
      weight: 800
  
  a, a:hover
    color: black
  
body
  footer
    border: none
    position: fixed
    bottom: 5px
    right: 25px
    a
      color: black
    img
      position: fixed
      bottom: 5px
      left: 25px