<!DOCTYPE html>
<html>
<head>
  <title>Whatthefuckshouldieatforlunch</title>
  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= javascript_include_tag "application" %>
  <script src="http://github.com/janl/mustache.js/raw/master/mustache.js"></script>  
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
